*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/app/release/
app/src/androidTest/java/de/intektor/mercury/mercury/
app/src/test/
