<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.intektor.kentai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <application
        android:name=".KentaiClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".kentai.firebase.FMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".kentai.firebase.FIIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".kentai.firebase.SendService"
            android:exported="false" />

        <service
            android:name=".kentai.android.backup.BackupService"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddContactActivity"
            android:parentActivityName=".OverviewActivity" />
        <activity
            android:name=".NewChatUserActivity"
            android:parentActivityName=".OverviewActivity" />
        <activity
            android:name=".ChatActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".OverviewActivity" />
        <activity
            android:name=".ContactInfoActivity"
            android:parentActivityName=".ChatActivity" />
        <activity
            android:name=".NewChatGroupActivity"
            android:label="@string/new_chat_group_activity_label"
            android:parentActivityName=".OverviewActivity" />

        <receiver
            android:name=".kentai.firebase.DisplayNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.intektor.kentai.chatNotification" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".kentai.firebase.UpdateMessageStatusBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.intektor.kentai.messageStatusUpdate" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".kentai.firebase.GroupInviteBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.intektor.kentai.groupInvite" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".kentai.firebase.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".kentai.voip.VoIPCallReceiver"
            android:label="Call Receiver" />

        <activity
            android:name=".GroupInfoActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ChatActivity" />
        <activity
            android:name=".AddGroupMemberActivity"
            android:label="@string/add_group_member_activity_label"
            android:launchMode="singleTop"
            android:parentActivityName=".GroupInfoActivity" />
        <activity android:name=".ChatMessageInfoTwoPeopleActivity"></activity>
        <activity
            android:name=".ShareReceiveActivity"
            android:label="@string/share_receive_label">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name=".kentai.android.GenericFileProvider"
            android:authorities="de.intektor.kentai.kentai.android.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".TransferScannerActivity"></activity>
    </application>

</manifest>